<div class="main-container">
    <div class="poster-container">
        <a href="#"><img src="https://i.ibb.co/ThPNnzM/blade-runner.jpg" class="poster" /></a>
    </div>
    <div class="ticket-container">
        <div class="ticket__content">
            <h4 class="ticket__movie-title">Blade Runner 2049</h4>
        </div>
    </div>
</div>